@font-face {
    font-family: "deadfont";
    src: url(assets/fonts/Dead\ Font\ Walking.otf);
}

@font-face {
    font-family: "haunt";
    src: url(assets/fonts/HauntAOE.ttf);
}


* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(206, 212, 218);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "haunt";
    color: #242E34
    
}

.game {
    display: flex;
    width: 900px;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(172, 203, 225);
    padding: 2%;

}

.imags {
    width: 100%;
    
}

img {
    max-height: 300px;
}

.representation {
    margin: 40px 0 40px 0;
    border: groove rgb(124, 152, 179) 10px;
    width: 100%;
    height: 100%;
    max-height: 500px;
}

.titre {
    font-family: "deadfont";
    font-size: 4vw;
    color: #1E262B;
}

.chapitre {
    font-size: 1.5vw;

}

.texte {
    font-size: 1.5em;
    text-align: center;
}

.options {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    
}

button {
    border: groove rgb(124, 152, 179) 10px;
    padding: 3%;
    background-color: rgb(206, 212, 218);
    color: #1E262B;
    font-family: "haunt";
    font-size: 20px;
}

video {
    margin: 40px 0 40px 0;
    border: groove rgb(124, 152, 179) 10px;
    width: 100%;
    height: 100%;
    max-height: 500px;
}

#resetting {
padding: 5px;
}

.audiocheck {
    align-self: flex-end;
}

label {
    align-self: flex-end
}

html .finmicro {
    background-color: #FBF3B1;
    transition: background-color linear 2s ;
}

.finmicro .game {
    background-color: #F7E868;
    transition: background-color linear 2s ;
}

.finmicro button {
    transition: background-color, linear 2s ;
    border: groove rgb(172,162,72) 10px;
    background-color: #FBF3B1;
}

.finmicro video {
    border: groove rgb(172,162,72) 10px;
}

html .finfour {
    background-color: #FBD0CC;
    transition: background-color linear 2s ;
}

.finfour .game {
    background-color: #F68B81;
    transition: background-color linear 2s ;
}

.finfour button {
    transition: background-color, linear 2s ;
    border: groove rgb(244,111,100) 10px;
    background-color: #FBD0CC;
}

.finfour video {
    border: groove rgb(244,111,100) 10px;
}

